# Dependências (nunca subir, pois ocupam muito espaço)
node_modules/
npm-debug.log*

# Dados do Inventário (Arquivos locais que funcionam como banco de dados)
# Impedimos que eles subam para o GitHub para não apagar os dados da AWS no próximo "git pull"
historico.json
inventario_atual.json

# Logs do Sistema e PM2
logs/
*.log
pids/

# Configurações sensíveis (caso você crie um arquivo de senhas futuramente)
.env

# Arquivos de sistema
.DS_Store
Thumbs.db